{% extends 'main/base.html'%}
{% load static %}

{% block title %} О нас {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'main/css/text.css' %}"> {% endblock %}

{% block content %}
<p class="im" style="font-weight: normal;"> О нас </p>
<p class="im" style="">
    Мы возрождаем Переделкино как действующую творческую лабораторию для всех, кто работает со словом.
    <p>Дом творчества находится в центре городка писателей Переделкино.
    <p> В советские времена принадлежавший Литфонду, он с 1990-х до 2010-х годов приходил в упадок.
    <p> Обветшавшее здание главного корпуса, где когда-то жили писатели, использовалось как общежитие; некогда знаменитый клуб с кинозалом, библиотекой и столовой стал рестораном средней руки, а потом и вовсе закрылся.
    <p class="at"> Посмотрите, каким был Дом творчества еще весной 2020 года.
    <br>
<div style="padding-left: 3px">
    <img src="{% static 'main/img/before1.jpg' %}" style="width: 600px;  height: 300px; border: solid 1px; margin: 2px">
    <img src="{% static 'main/img/before2.jpg' %}" style="width: 600px;  height: 300px; border: solid 1px; margin: 2px">
    <img src="{% static 'main/img/before3.jpg' %}" style="width: 600px;  height: 300px; border: solid 1px; margin: 2px">
</div>
    <p> В августе 2020 года благодаря деятельности автономной некоммерческой организации «Дом Творчества писателей в Переделкино» впервые за многие годы вновь открылось главное здание.
    <p class="at"> С тех пор Дом творчества — это постоянно действующая творческая резиденция с большой публичной программой, нацеленной на продвижение литературы и культурных связей.
    <br>
<p class="im">Подробнее о деятельности Дома творчества Переделкино</p>
    <p class="at"> Переделкино — одно из самых литературных мест в России.
    <p> Важнейший творческий центр сложился в этих местах задолго до создания знаменитого городка писателей, развивался в советское время и остается центром творческой работы сейчас: здесь живут выдающиеся писатели, поэты, критики.
    <p> Благодаря деятельности АНО «Дом творчества писателей в Переделкино» это место вновь становится живой творческой лабораторией.
    <p> Первый этап обновления прошел в 2020-м году: Клуб-столовую Дома творчества отремонтировали и открыли для первой творческой резиденции и регулярной публичной программы.
    <p> В 2021 году творческие резиденции стали регулярными: каждый месяц на основе конкурсного отбора творческих заявок в Дом творчества приезжают писатели, поэты, переводчики, художники, музыканты.
    <p> Дом творчества предоставляет питание и проживание, а также организует лекции, встречи с интересными спикерами, чтения, экскурсии.
    <p> Резидентами в 2021 году стали 175 представителей творческих профессий (литераторов, переводчиков, художников, музыкантов, фотографов, исследователей, кураторов) из 36 городов России, Беларуси, Казахстана Чехии, Бразилии, США, Латвии. Возраст резидентов – от 23 до 74.
    Средний конкурс на место в резиденциях Дома творчества Переделкино в 2021 году составил 5-20 человек на место.
    <p class="at"> Дом творчества Переделкино реализует большую публичную программу, связанную с историей литературы, жизнью городка писателей и современным литературным процессом.
    <p> Здесь проходят встречи с авторами, лекции, дискуссии, конференции, кинопоказы и концерты.
    Особенное внимание в Доме творчества уделяется разработке выставок, в основе которых - литературное произведение.
    <p> В 2021 году темой такой литературной выставки стало стихотворение Александро Еременко «Переделкино», за которое он был неофициально признан «королем поэтов» в 80-х годах.
    В его память Дом творчества предложил двенадцати молодым художникам перечитать стихотворение и вернуть его в переделкинский пейзаж.
    Под руководством кураторов художники создали мемориальную выставку природных интеграций «Направо — белый лес» в парке Дома творчества.
    <p> В 2022 году в Доме творчества открылась выставка «Кондуит и Швамбрания».
    «Место, где земля закругляется», посвященная одноименному произведению Льва Кассиля.
    <p> Детство стало ключевой темой для работ современных художников, которые участвуют в выставке.
    Приглашенные художники создали вокруг текста не столько иллюстрации, сколько интерпретации текста о непростой жизни детей на сломе времен и их вымышленной стране.
{% endblock %}
